
* {
margin: 0;
padding: 0;
}

html {
height: 100%;
font-size: 62.5%;
}

body {
height: 100%;
font: 1.2em Verdana, Arial, Helvetica, sans-serif;
background: #242424 url('../img/bg.gif') repeat-x 0 0;
min-width: 980px;
}

a:link, a:visited {
color: #AFBC25;
text-decoration: underline;
font-weight: bold;
}

a:hover {
text-decoration: none;
}

.cleaner {
clear: both;
height: 0;
font-size: 0;
visibility: hidden;
content: ' ';
}

.noscreen {
display: none;
}

.hidden { /* Skip menu */
position: absolute;
top: -10000px;
left: 0;
width: 1px;
height: 1px;
overflow: hidden;
}


/* Paragraphs, headings, ... */

p {
line-height: 170%;
margin-bottom: 10px;
color: #FDFDFD;
}

p.more {
float: right;
display: inline;
margin-right: 7px;
}

p.more a, p.more a:visited {
font-weight: normal;
}

h1 {
font-size: 2.2em;
font-weight: normal;
color: #FFFFFF;
text-align: left;
padding: 43px 0 4px 0;
letter-spacing: 1px;
background: url('../img/h1-bg.gif') repeat-x 0 100%;
width: 50%;
}
#logo{
	margin-top:28px;
	margin-left:0;
	padding-left:0;
}
.clarification{
	float:right;
	padding-top:35px;
	font-size:30px;
	font-family: Kunstler Script;
}

h1 a:link, h1 a:visited {
font-weight: normal;
text-decoration: none;
color: #FFFFFF;
}

h2 {
font-size: 1.4em;
font-family: Georgia, "Times New Roman", Times, serif;
font-weight: normal;
color: #FFFFFF;
text-align: left;
margin: 4px 0 0 0;
letter-spacing: 1px;
}

h3 {
font-size: 1.4em;
font-family: Georgia, "Times New Roman", Times, serif;
font-weight: normal;
color: #FDFDFD;
letter-spacing: 1px;
background: url('../img/h3-bg.gif') no-repeat 0 54%;
padding-left: 18px;
margin-bottom: 7px;
}

address {
}


/* Header */

#header {
width: 1055px;
height: 178px;
position: relative;
margin: 0 auto;
text-align: left;
}


#picture-input {
position: absolute; 
top: 0;
left: 0;
overflow: hidden;
width: 171px;
height: 26px;
background: #FAFFE5 url('../img/input-bg.gif') no-repeat 0 0;
border: 0;
}

#picture-input input {
position: relative;
top: 5px;
left: 10px;
width: 160px;
border: 0;
letter-spacing: 1px;
background-color: #FAFFE5;
}

form.searching input.hledat {
letter-spacing: 1px;
padding-left: 0;
font-weight: bold;
color: #FFFFFF;
position: absolute;
top: 0;
right: 0;
}

form.searching label {
display: none;
}


/* Menu */

#menu {
position: absolute;
top: 145px;
right: 1px;
}

#menu li {
float: left;
display: inline;
list-style-type: none;
}

#menu li a {
float: left;
display: inline;
list-style-type: none;
text-align: center;
color: #FFFFFF;
font-size: 1.1em;
text-decoration: underline;
padding: 0 1.1em;
height: 32px;
line-height: 32px;
margin-left: 3px;
background: #242424 url('../img/li-bg.gif') repeat-x 0 0;
border: 1px solid black;
border-bottom: none;
}

#menu li a:hover {
color: #FFFFFF;
text-decoration: none;
background: #242424;
border: 1px solid #222222;
border-bottom: none;
}

#menu li a.active {
background: #232323 url('../img/li-bg-hover.gif') repeat-x 0 0;
color: #FFFFFF;
text-decoration: none;
border: 1px solid #2D4A00;
border-bottom: none;
}


/* 3 columns layout */

#content {
font-size: 0.9em;
width: 980px;
margin: 23px auto 0 auto;
text-align: left;
background: #242424 url('../img/content-bg.gif') repeat-y 0 0;
}

#column-1 {
float: right;
width: 650px;
}

#column-1 #column-11 {
float: left;
width: 330px;
}

#column-1 #column-12 {
float: right;
width: 296px;
}

#column-2 {
float: left;
width: 300px;
}


/* Footer */

#footer {
width: 970px;
height: 80px;
margin: 120px auto 0 auto;
border-top: 1px solid #404040;
}

p.footer-left {
float: left;
width: 465px;
color: #FFFFFF;
text-align: left;
margin: 9px 0 0 15px;
display: inline;
}

p.footer-left a, p.footer-left a:visited {
color: #FFFFFF;
font-weight: normal;
}

p.footer-right {
float: right;
width: 465px;
color: #999999;
text-align: right;
margin: 9px 15px 0 0;
display: inline;
}

p.footer-right a, p.footer-right a:visited {
color: #999999;
font-weight: normal;
}

p.footer-right a:hover {
color: #FFFFFF;
font-weight: normal;
}
.box { padding:1px; border:solid 1px #879417; margin-bottom:10px;}
.box h2{ background:#849015; color:#FFFFFF; font-weight: normal; padding:0 5px; position:relative; height:27px; line-height:27px; }
.box h2 span{ position:absolute; width:10px; height:5px; top:27px; right:10px; font-size:0; line-height:0;}
.box-content { 
background-color:#E6AA3C;
}

.box-content ul li {
	list-style-type: none;
}
.box-content ul li:hover {background: #E17F3E}

.box-content ul li  a{
		text-decoration: none;
		color:#009641;
		padding-bottom: 10px;
        padding-top: 10px;
		display: inline-block;
	    height: 15px;
        width: 100%;
}
#sidebar { 
float:left;
width:304px;
height:2600px;
margin-right:5px;
}
.ramka_infa{
	float:left;
	border:3px solid #879417;
	width:356px;
	margin-right:10px;
	margin-top:10px;
	height:525px;
}
#foto_categ{
	padding:0;
	margin:0;
}
#nazva_product{
	text-align:center;
}
#nazva_categ{
	padding-top:0;
	margin-top:0;
}
#spisok li{
	color:#FDFDF6;
}
#spisok{
	margin-left:20px;
}
.klient_info{
	color:#009641;
	background-color:#FFFFFF;
	margin-left:305px;
	padding-left:20px;
	border-radius:10px;	
	position:relative;
	height:240px;
}
.guest1{
	color:#009641;
	font-size:20px;
}
#znak1{
	position:absolute;
	top:-3px;
	right:9px;
}
#niz{
	margin:0 auto;
	width:1058px;
}
.clear{
	clear:both;
}

#nomera{
	color:white;
	margin-left:20px;
}
/*contacts*/
.contacts_h1{
	text-align:center;
	border-bottom:2px solid green;
	margin-bottom:15px;
	margin-top:15px;
	width:752px;
	color:#009641;
}
.karta{
width:375px;
float:left;
}
.contacts2{
	width:290px;
	height:250px;
	float:left;
	color:#009641;	
}
ol .spisoc1 ul{
	margin-left:15px;
}
#contact{
	width:752px;
	height:540px;
	margin-left:305px;
	background-color:#FFFFFF;
	border-radius:10px;
}
.karta_text{
	text-align:center;
	color:#009641;
}

#MP{
	color:#009641;
}
#data{
	margin-left:20px;
}
.cnopka_vk_ok{
	border-radius:5px;
}
